<p id="notice"><%= notice %></p>
<div class="justify-content-center">
<%= link_to 'Back', categories_path, class: "btn btn-primary" %>
</div>

<h2 d-flex align-items-center> CATEGORIES</h2>
<ul class="nav nav-pills nav-fill">

    <% @categories.each do |category| %>
      <% category_title = category.title%>
      <li class="nav-item d-flex justify-content-around">
        <%= link_to category_title, category, class: "nav-link btn btn-primary" %> 
      </li>
    <% end %>
</ul>


<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<div style="display:flex">
<% @category.charts.each do |chart| %>

  
  <div class="p-2 bd-highlight">
  <strong>Blind range :</strong>
   <p style="font-size: 40px">
    <%= chart.blindrange %>
  </p>
  <% if chart.situation[0] == "3"%>
   <div style="width:800px; height:auto">
    <%= image_tag(chart.image, style: "width:100%")%>
      <%= link_to 'Destroy', category_chart_path(@category, chart), method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Edit', edit_category_chart_path(@category, chart) %>
      <%= link_to 'Show', edit_category_chart_path(@category, chart) %>
  </div>
  <% else %>
   <div style="width:400px; height:auto">
    <%= image_tag(chart.image, style: "width:100%")%>
      <%= link_to 'Destroy', category_chart_path(@category, chart), method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Edit', edit_category_chart_path(@category, chart) %>
      <%= link_to 'Show', edit_category_chart_path(@category, chart) %>
  </div>
  <% end %>
  </div>



  <%# <%= debug chart %> 

  <%# <%= link_to 'Edit', edit_chart_path(chart) %>  
 
<% end %>
</div>



<h2>Add a chart:</h2>

<%= render 'charts/form'%>



