<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>


<h2>CHARTS </h2>
<% @category.charts.each do |chart| %>
  <p>
    <strong>Blind range :</strong>
    <%= chart.blindrange %>
  </p>

  <p>
    <strong>Situation  :</strong>
    <%= chart.situation %>
  </p>
 
   <p>
    <strong>Opponent :</strong>
    <%= chart.opponent %>
  </p>

  <div style="width:400px; height:auto">
    <%= image_tag(chart.image, style: "width:100%")%>
  </div>
 
<% end %>
 
<h2>Add a chart:</h2>

<%= render 'charts/form'%>

<%= link_to 'Edit', edit_category_path(@category) %> 
<%= link_to 'Back', categories_path %>
